@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@using Microsoft.AspNetCore.Http
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@
@*@using IMS.Core.Entities
@using IMS.Client.Shared*@

<!DOCTYPE html>
<html dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-rtl.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- DataTable -->
    <link rel="stylesheet" href="~/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet" />

    <link href="~/css/sweetalert.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/aspect-ratio.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/rtl.css" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/imgs/favicon.png" />
    <link rel="apple-touch-icon" href="~/imgs/favicon.png" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <!-- DataTable -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.select.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/responsive.bootstrap4.min.js"></script>

    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- chart js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="~/js/javascript.js"></script>
    <title>جرد المخزون </title>
</head>

<body>

    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-light" id="header">
            <div class="container">
                <a class="navbar-brand d-block d-md-none" href="#">
                    <img src="~/imgs/logo.png" alt="logo">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">




                    <div class="dropdown user-list">
                        <span class="user-img"><img src="~/imgs/user.png" alt="user"></span>
                        <button class="btn btn-link" type="button" id="userdropDown" data-toggle="dropdown" aria-expanded="false" style="
    font-size: 1.5rem;
    color: var(--dark-color);
    text-transform: capitalize;">
                            @*@{
                                User user = HttpContextAccessor.HttpContext.Session.GetObject<User>("user");

                            }
                            @(user.FristName+" "+ user.LastName)*@<i class="fas fa-chevron-down mx-1"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userdropDown">

                            <li><a href="/User/Login" class="dropdown-item">تسجيل خروج</a></li>
                        </ul>
                    </div>
                </div>

                <a class="navbar-brand d-md-block d-none" href="#">
                    <img src="~/imgs/logo.png" alt="logo">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-page">
            <!-- Sidebar -->
            <div class="sidebar">
                <ul class="list-group main-menu">
                    <li class="list-group-item active-item" data-toggle="tooltip" title="الرئيسية">
                        <a href="/Home"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="list-group-item" data-toggle="tooltip" title="إعدادات النظام">
                        <a href="#"><i class="fas fa-cog"></i></a>

                        <div class="sub-menu">
                            <ul class="list-group">
                                <li class="list-group-item list-header">إعدادات النظام</li>
                                <li class="list-group-item">
                                    <a href="#">عمليات<i class="fas fa-chevron-down"></i></a>
                                    <ul class="list-group sec-submenu">
                                        <li class="list-group-item"><a asp-action="Create" asp-controller="RfidView">  الجرد </a></li>
                                        <li class="list-group-item"><a asp-action="Create" asp-controller="TransferIn"> الادخال</a></li>
                                        <li class="list-group-item"><a asp-action="Create" asp-controller="TransferOut"> الاخراج</a></li>
                                        <li class="list-group-item"><a asp-action="DeviceConnect" asp-controller="RfidView"> قرائات جهاز rfid</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>

                    </li>



                </ul>
            </div>

            <!-- Page content -->
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </main>


</body>
@RenderSection("Scripts", required: false)

</html>
<!-- End custom js for this page-->
